<div class="landing-header">
    <div class="landing-header-left">
        <!-- <div><img src="assets/logo.png" class="app-logo" alt="logo"></div> -->
        <div class="app-name">WHO</div>
    </div>
    <div class="landing-header-right">
        <button class="s-btn-white" routerLink="/WhoRegistration">Sign up</button>
        <!-- <button class="s-btn-grey" routerLink="/auth/user-signup">Sign up</button> -->
    </div>
</div>

<div class="login-page">
    <div class="left-img">
        <img src="assets/img/login-left-img.png" width="200px" alt="">
    </div>
    <form class="login-box" [formGroup]="whoLoginForm">
        <h5>Welcome Back</h5>
        <div class="form">
            <div class="input-tab">
                <label for="Email">Email</label>
                <img src="assets/icon/Mail.png" class="input-mail" width="16px" alt="">
                <input type="email" placeholder="Email" formControlName="email">
            </div>
            
            <div class="input-tab">
                <label for="Password">Password</label>
                <img src="assets/icon/Lock.png" class="input-lock" width="16px" alt="">
                <input type="password" placeholder="Password" formControlName="password">
                <img src="assets/icon/Hide.png" class="input-hide" width="16px" alt="">
            </div>

        </div>
        <div class="smal-action">
            <div>
                <input type="checkbox" name="" id=""> <span style="cursor: pointer; margin-left: 5px;">Keep me logged in</span>
            </div>
            <div style="cursor: pointer;">Forget Passowrd</div>
        </div>
        <button class="s-btn-grey"  (click)="loginWho()">Sign In</button>
    </form>
    <div class="right-img">
        <img src="assets/img/login-right-img.png" width="200px" alt="">
    </div>
</div>