<footer>
    <div class="foot-info-div">
        <div class="foot-part">
            <div class="name-nd-logo">
                <!-- <div><img src="assets/logo.png" class="app-logo" alt="logo"></div> -->
                <div class="app-name">WHO</div>
            </div>
        </div>

        <div class="foot-part">
            <div class="app-name">Categories</div>
            <div class="foot-opt" routerLink="/WhoRegistration">Add Food</div>
            <div class="foot-opt" routerLink="/WhoRegistration">Add Medecine</div>
            <div class="foot-opt" routerLink="/WhoRegistration">Add Cloths</div>
            <div class="foot-opt" routerLink="/WhoRegistration">Add Equipment</div>
        </div>
        
        <div class="foot-part">
            <div class="app-name">Resources</div>
            <div class="foot-opt">User guides</div>
            <div class="foot-opt">Help</div>
            <div class="foot-opt">Register WHO</div>
        </div>

        <div class="foot-part">
            <div class="app-name">Company</div>
            <div class="foot-opt">About</div>
            <div class="foot-opt">Contact</div>
        </div>
        
        <div class="foot-part-ext">
            <div class="app-name">Stay in the loop</div>
            <small>For Help and exclusive insights</small>
            <div class="foot-sub">
                <input type="text" placeholder="Input your email" name="" id="">
                <button class="s-btn-grey">Subscribe</button>
            </div>
        </div>
    </div>

    <hr style="margin: 80px 0;">
</footer>